/* ****************** SCHEDULE ************** */
#scheduleTitle
	color: #3f5661
	@extend %amble-bold
	font-size: 18px

	.small
		color: #3f5661
		@extend %amble
		font-size: 16px
		display: block

.smallNote
	color: #828587
	display: none
	font-size: 12px

p.smallNote
	margin: 20px 0 10px

#scheduleTable
	margin: 0 0 10px
	padding: 0 15px
	text-align: center
	width: 100%

	.row:nth-child(even)
		background: #ebebeb

	.col-xs-3 //table's cell
		font-size: 19px
		padding: 10px 7px

	.row:first-child //table's header
		background: transparent

		.col-xs-3 //table's header cell
			color: $red
			@extend %amble-bold
			font-size: 15px
			letter-spacing: 0.08em
			line-height: 1em
			text-align: center
			vertical-align: top

		.smallNote
			color: #f47d1c